doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Login
		// Tell the browser to be responsive to screen width
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		// Bootstrap
		link(href='/themes/admin-lte/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		// Font Awesome
		link(href='/themes/admin-lte/libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		style(type='text/css').
			.checkbox label {
				
			}
			.checkbox label input {
			width: 14px;
			height: 14px;
			margin: 2px 0 0;
			}
	// ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT
	// the fixed layout is not compatible with sidebar-mini
	body.hold-transition.skin-blue.fixed.sidebar-mini
		#login-overlay.modal-dialog
			.modal-content
				.modal-header
					h4#myModalLabel.modal-title.text-center Login
				.modal-body
					.row
						.col-lg-6.col-md-6
							.well
								form#loginForm(method='POST', action='/admin/login', novalidate='novalidate')
									.form-group
										label.control-label(for='accountName') Account Name
										input#accountname.form-control(name='accountName', type='text', value='', required='', placeholder='email')
										span.help-block
									.form-group
										label.control-label(for='password') Password
										input#password.form-control(name='password', type='password', value='', required='', placeholder='password')
										span.help-block
									#loginErrorMsg.alert.alert-error.hide Wrong username or password
									.checkbox
										label
											input#remember(name='remember', type='checkbox')
											|  Remember me
									button.btn.btn-success.btn-block(type='submit') Login
									a.btn.btn-default.btn-block(href='/auth/forgot-password') Forgot Password
						.col-lg-6.col-md-6
							p.lead.text-center
								| Social Login
								//- span.text-success FREE
							ul.list-unstyled.text-center(style='line-height: 2')
								li.btn.btn-default.fb-login(style='background:#3b5998;color:#fff;width:100%;max-width:222px;text-align:left;')
									a(href='/auth/facebook', style='color: #fff;text-decoration: none;')
										span.fa.fa-facebook.text-success(style='color:#fff;width:20px;')
										|  LogiN With Facebook
								li.btn.btn-default.gplus-login(style='background:#e74c3d;color:#fff;width:100%;max-width:222px;text-align:left;margin-top:5px;')
									a(href='/auth/google', style='color: #fff;text-decoration: none;')
										span.fa.fa-google-plus.text-success(style='color:#fff;width:20px;')
										|  Login With Google
								
							//-     a(href='/read-more/')
							//-         u Read more
							//- p
							//-     a.btn.btn-info.btn-block(href='/new-customer/') Yes please, register now!

		// jQuery 
		script(src='/themes/admin-lte/libs/jquery/dist/jquery.min.js', type='text/javascript')
		// Bootstrap
		script(src='/themes/admin-lte/libs/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')