extends ../layout/default

block stylesheets
	link(href='/libs/bootstrap-chosen/bootstrap-chosen.css', rel='stylesheet')
	link(href='/stylesheets/data-table.css', rel='stylesheet')
block javascripts
	script(src='/libs/bootstrap-chosen/dist/chosen.jquery-1.4.2/chosen.jquery.min.js', type='text/javascript')
	script(src='/javascripts/data-table.js')
	script(type='text/javascript').
		let dataTable = new DataTable({
			selector: '#table-news-categories',
			urlFilter: '/news-category/search',
			filters: [
				{
					name: 'categoryName',
					type: 'text'
				},
				{
					name: 'statusDisplay',
					type: 'select',
					key: 'value',
					value: 'text',
					placeholder: 'Trạng thái',
					style: 'width:140px;',
					search: false,
					options: [
						{
							value: 1,
							text: 'Public'
						},
						{
							value: 0,
							text: 'Draft'
						}
					]
				}
			]
		})

block content
	// Content Header (Page header)
	section.content-header
		h1
			| Danh mục tin tức
		ol.breadcrumb
			li
				a(href='/')
					i.fa.fa-dashboard
					|  Dashboard
			li.active Danh mục tin tức
	// Main content
	section.content
		.row
			.col-xs-12
				a.btn.btn-success(href='/news-category/create') Tạo mới
				hr
				.box
					.box-header
						h3.box-title 
						.box-tools
							.input-group.input-group-sm(style='width: 150px;')
								input.form-control.pull-right(name='table_search', type='text', placeholder='Search')
								.input-group-btn
									button.btn.btn-default(type='submit')
										i.fa.fa-search
					// /.box-header
					.box-body.table-responsive.no-padding
						table#table-news-categories.table.table-hover
							thead
								tr
									th(name='STT') STT
									th(name='categoryName') Tên danh mục
									th(name='slug') Slug
									th(name='statusDisplay') Trạng thái
									th.text-center(name='actions', actions={view: '/news-category/view', edit: '/news-category/edit', delete: '/news-category/delete'}, style='width: 140px;') Hành động
							tbody
								//- each dt, i in data
								//- 	tr
								//- 		td #{i+1}
								//- 		td #{dt.categoryName}
								//- 		td #{dt.slug}
								//- 		td #{dt.statusDisplay}
								//- 		td.text-center
								//- 			a.user-action.btn.btn-default(href='/news-category/view/' + dt._id)
								//- 				em.fa.fa-eye
								//- 			a.user-action.btn.btn-success(href='/news-category/edit/' + dt._id)
								//- 				em.fa.fa-pencil
								//- 			button.user-action.btn.btn-danger(onclick='return confirmDelete(this, "Bạn có chắc chắn muốn xóa tài khoản này không?", "/news-category/delete/' + dt._id + '")')
								//- 				em.fa.fa-trash
